.dark .burder_items{
  border-color:white;
}
.dark {
  background-color:black;
 
}
.dark .moon_mobile{
  fill:white;
  
  background-color: #fff;
}
.dark .moon{
  fill:white;
  
  background-color: #fff;
}
.dark .items{
  color:white;
}

.burger_menu{
display:flex;
flex-direction: column;
justify-content: space-between;
margin-left:auto;
gap:9px;
}
.burder_items{
    border: 1.6px solid rgb(33, 36, 61);
    width: 30px;
}

.btn_header{
    border:none;
    background-color: transparent;
    cursor:pointer;
}
.container{
    display:flex;
justify-content: space-between;
padding: 20px 18px 12px;
align-items: center;
}
.btn_moon{
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.container_tab_desk{
    display:none;
}
.items{
    animation: titleAnim 6s ease forwards;
opacity: 0;
}
.moon_mobile{
  margin-top: 5px;
  margin-right: 10px;
}

.moon{
 margin-right: 40px;
  animation: moonAnim 6s ease forwards;
  opacity: 0;
  
}
/* body.dark .moon{
  fill:white;
} */
@keyframes titleAnim {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
  @keyframes moonAnim {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(-75%);
    }
  }
/* ------MEDIA RESPONSIVE-------- */

@media screen and (min-width:768px){


.container{
    display:none;
}
.container_tab_desk{
    display:flex;
    justify-content: flex-end;
padding-right:60px;
padding-top: 50px;

}
.list{
    display: flex;
    gap:33px;
   list-style-type: none;
   
}
.items{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: rgb(0, 0, 0);
    text-align: right;
}
  }
  @media screen and (min-width:1158px){

    h2 {

        font-size: 60px;
      }
      p {

        font-size: 50px;

      }
      .container_tab_desk{
        display:flex;
        justify-content: flex-end;
    padding-right:60px;
    padding-top: 60px;
    
    }


  }