/* DARK MODE */
.dark .line{
  border:1px solid white;
  width:100%;
  display: block;
}

.cont_footer{

    display:flex;
    flex-direction: column;
    justify-content: center;
  gap:20px;
    padding:20px;
    align-items: center;
    height:300px;
  
  }
  .footer{
    background-color: black;
  
    
  }
.line{
  display: none;
}
  .footer_title{
    color:white;
    font-weight: 900;
    font-size:20px;
  }
  
  .list_footer{
    display: flex;
    gap:33px;
   list-style-type: none;
   
  }
  .items_footer{
    text-decoration: none;
    font-size: 50px 50px ;
    font-weight: 700;
    line-height: 29px;
    color: white;
    text-align: right;
  }
  
  .item_contacts{
    border-radius:50%;
    border:1px solid black;
    width:60px;
    height:60px;
    position:relative;
    background-color: black;
  }
  .icon_contacts{
  position: absolute;
  top:15%;
  left:15%;
  
  }
  .list_contacts{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap:15px;
   
  }
  @media screen and (min-width:768px){
    .cont_footer{

        display:flex;
        flex-direction: row;
        justify-content: center;
      gap:10px;
      
        align-items: center;
        height:350px;
      
      }


  }

  @media screen and (min-width:1158px){
    .cont_footer{

        display:flex;
        flex-direction: row;

        gap:45px;
        align-items: center;
        height:350px;
 
      }


      .footer_title{
        color:white;
        font-weight: 900;
        font-size:20px;
      }
      
      .list_footer{
        display: flex;
        gap:33px;
       list-style-type: none;
       
      }
      .items_footer{
        text-decoration: none;
        font-size: 50px 50px ;
        font-weight: 700;
        line-height: 29px;
        color: white;
        text-align: right;
      }
      
      .item_contacts{
        border-radius:50%;
        border:1px solid black;
        width:60px;
        height:60px;
        position:relative;
        background-color: black;
      }
      .icon_contacts{
      position: absolute;
      top:15%;
      left:15%;
      
      }
      .list_contacts{
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap:15px;
       
      }

  }