body {
  font-family: "Heebo", sans-serif;
  line-height: 1.5;
color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body.dark {
  background-color: black;
  color: white;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark a {
  color: white;
}
body.dark li{
  background-color: black;
  border:1px solid white;
}
.body.dark button{
  border:1px solid white;
}

